/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/testing.php
/bbdd.bat
/bbdd_test.bat
/run.bat
/tail-zerbitzuak.ps1
/web/bower_components
/web/images/uploads/