/* Estilos Generales */
body {
    padding: 0.1em 0.1em 0.1em 0.1em;
    line-height: 1;
    margin-bottom: 2.5rem;
}

#header {
    border-bottom: #ddd solid thin;
}

main {
    margin-bottom: 2rem;
}

#span-logo img {
/*    height: 80px; */
    height: 4rem;
    width: auto;
}

#span-titulua {
    font-family: 'Monda', sans-serif;
    padding-left: 0;
    padding-right: 0;
    padding-top: 1.3rem;
}

#span-erabiltzailea {
    float: left;
    margin-left: auto;
}

#span-erabiltzailea div a p {
    float: left;
    padding-top: 1.3rem;
    width: 140px;
    overflow: hidden;
}

#span-erabiltzailea div {
    min-width: 150px;
}

#span-erabiltzailea a img {
    height: 4rem;
    width: auto;
    padding-top: 1rem;
}

#hizkuntza {
    float: right;
    width: auto;
    margin-right: 10px;
    margin-left: auto;
}

.margin-left-08 {
    margin-left: 0.8rem;
}

.avatar-img {
    float: right;
    height: 3rem;
    border-radius: 3rem;
}

.user {
    width: 90%;
    text-align: right;
    vertical-align: middle;
}

.profile {
    color: #dddddd;
    font-weight: bold;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="time"], input[type="date"], input[type="datetime-local"], input[type="tel"], input[type="number"], input[type="search-md"], input[type="search"], textarea.md-textarea {
    height: 1.1rem;
    background-color: white;    
}

.rounder-edge {
    border-radius: 0.5rem;
}

h1 {
    font-size: 2.5rem;
}

footer.page-footer {
    background-color: white;
    color: #ddd;
    margin-top: 0.2rem;
    padding-top: 0.2rem;
    padding-bottom: 0.3rem;
}

.padding-right-13 {
    padding-right: 1.3rem;
}

.padding-top-18 {
    padding-top: 1.8rem;
}

.padding-top-06 {
    padding-top: 0.6rem;
}

.padding-08 {
    padding: 0.8rem;
}

.margin-top-13 {
    margin-top: 1.3rem;
}

.margin-bottom-08 {
    margin-top: 0.8rem;
}

.margin-top-30 {
    margin-top: 30px; 
}

.border-top-grey-thin {
    border-top: #ddd solid thin;
    height: 10px;
}

.bg-primary {
    background-color: #06a4d5 !important;
}

.primary-color {
  background-color: #06a4d5 !important; }

.primary-color-dark {
  background-color: #0d5bd9 !important; }

.text-primary {
  color: #0275d8 !important;
}

.text-primary-dark {
  color: #0d5bd9 !important;
}

.btn-primary {
    background: #06a4d5 none repeat scroll 0 0;
}

i.btn-primary {
    background: #06a4d5 none repeat scroll 0 0;
}

.btn-primary:focus, .btn-primary:hover, .btn-primary:active {
    background: #047395 none repeat scroll 0 0 !important;
}

.navbar-nav {
    flex-direction: row;
}

.nav-link {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

/* FIN Estilos Generales */


/* Estilos Página Login */
.login-form {
    color: white !important;
}

.login-form a {
    color: white !important;
}

.login-form a:hover {
    color: black !important;
}

.btn-default {
    background: white none repeat scroll 0 0;
    color: #06a4d5 !important;
}

.btn-default:active, .btn-default:hover, .btn-default:focus {
    background-color: #05a3d5 !important;
    color: white !important;
}

/* FIN Estilos página Login */


/* Estilos página alta solicitud */
.breadcrumb {
    padding: 0.3rem 0.1rem;
}

.breadcrumb .breadcrumb-item.active {
    color: #5e676e;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #ffffff;
}

.panel-default {
    padding-left: 0;
    padding-right: 0;
}

.md-form {
    margin-bottom: 0rem;
}
.form-group {
    margin-bottom: 0rem;
}

.md-form label {
    left: auto;
}

.card-block {
    padding: 0.5rem;
}

.form-inline fieldset {
    margin-right: 3rem !important;
}

.form-inline fieldset label{
    position: relative;
    top: auto;
    margin-left: 0.1rem;
}

#etiqueta-argazkia {
    position: relative;
    top: 0;
}

#eskatzailea {
    margin-bottom: 1rem;
}

#eskaria {
    margin-bottom: 1rem;
}

.form-control#username:focus, .form-control#password:focus{
    background-color: white !important;
}

.md-form.form-sm input {
    padding-top: 0.4rem !important;
    line-height: 1.5rem;
/*    border: 0; */
}

.md-form.form-sm input[type="file"] {
    padding-top: 0.1rem !important;
    border: 0;
}

.help-block {
    font-size: 0.8rem;
    color: red;
    
}
/* FIN Estilos página alta solicitud */

/* Estilos pagina listado */

.btn-rounded {
    border-radius: 10rem;  
    padding: 1rem 1rem;
}

.white-space-nowrap {
    white-space: nowrap;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(1.5rem + 2px) !important;
    width: calc(100% - 3rem);
}


.md-select {
    color: #757575;
    border-color: #ccc;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px;
    height: 1.1rem;
    font-size: 0.9rem;
/*    line-height: 0.5; */
    padding-left: 0.0rem;
    padding-bottom: 0;
    padding-top: 0.5rem;
    border-color: currentcolor currentcolor #ccc;
    border-style: none none solid;
    outline: medium none;
   -webkit-appearance: none; 
   -moz-appearance: none;
    appearance: none;       /* remove default arrow */
    background-image: url('../images/select-down.png');
    background-position: center right;
    background-repeat: no-repeat;
    -webkit-user-select: none;
    -webkit-padding-end: 20px;
    -moz-padding-end: 20px;
    -webkit-padding-start: 2px;
    -moz-padding-start: 2px;
    font-family: "Roboto",sans-serif;
    margin-left: 2rem;
}

.md-select:focus {
    background-image: url('../images/select-down.png');
    background-position: center right;
    background-repeat: no-repeat;
    -webkit-padding-start: 0px;
    -moz-padding-start: 0px;
    font-family: "Roboto",sans-serif;    
}

select::-ms-expand { 
    display: none; /* hide the default arrow in ie10 and ie11 */
}

.btn-fixed {
    position: fixed;
    right: 20px;
    bottom: 50px;
}

/* FIN Estilos pagina listado */

/* INICIO Administrar enpresa */
.checkbox input {
    margin-left: 15px;
    margin-bottom: 4px;
}

.checkbox input:active, 
	  input:focus, 
	  input:hover {
    color: #4285f4;
}


.form-inline .form-control {
    margin-right: 21px;
}

#botonera {
    margin-top: 1rem;
}
/* FIN administrar enpresa */

.chart {
  width: 100%; 
  min-height: 450px;
}

@media screen and (max-width: 699px) {
    h1 {
        font-size: 2.0rem;
    }
}

@media screen and (max-width: 576px) {
    #span-titulua {
	width: 190px !important;
    }

    #span-erabiltzailea {
	display: none;
    }

    #span-logo {
	width: auto !important;
    }
    
    .menuaren_titulua {
	display: none;
    }
    
    .navbar.navbar-dark .nav-link, .navbar.navbar-dark .navbar-toggler {
	display: inline-flex;
    }

}


