<!DOCTYPE html>
<head></head>
<body>
  <img class="logo" alt="Erantzunen logoa" src="{{ absolute_url(asset('images/erantzun_logo2.png')) }}">rantzun<br>

  {{ 'message.reset_password_body' | trans }}<br>

  {{ url('user_reset_password_action', { 'token': token }) }}
</body>
</html>
